html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-weight: normal;
	font-size: 15px;
	background: #ebebeb;
}

a {
	text-decoration: none;
	color:#444;
}

#iFrm {
	position: absolute;
	width: 100%;
	height: auto;
	top: 35%; 
}

#norm {
	position: absolute;
	width: 100%;
	height: auto;
	top: 25%; 
	text-align: center;
	font-size: 30px;
}

#iContent {
	font-size: 50px;
	font-weight: bold; 
	line-height: normal;
	text-align: center;
	letter-spacing: -1px;
	margin: 0 auto;
	color: #666;
}

#Tag {
	position: fixed;
	bottom: 25px;
	right: 40px;
	font-size: 12px;
	text-align: left;
	color: #444;
}

#refresh {
	position: fixed;
	top: 400px;
	width: 200px;
	height: 200px;
	background: url(img/refresh.png) no-repeat center center;
	margin-top: 45px;
	margin-left: 44%;
	text-align: center;
	cursor: pointer;
}

::-webkit-selection { background: transparent; color: #bababa; }
::-moz-selection { background: transparent; color: #bababa; }
::selection { background: transparent; color: #bababa; }

#tweetButton {
	position: absolute;
	top: 635px;
	width: 95px;
	margin-left: 49%;
}

#fb {
	position: absolute;
	top: 600px;
	width: 95px;
	margin-left: 49%;
}